*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #669bbc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #415a77;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) ;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .Output-display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .Output-display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}

.calculator input.operator {
    color: #000;
}